.loginFormWr {
    padding-left: 15px;
    margin: 15px;
}

.loginFormWr .userName {

}

.loginFormWr .password {

}

.loginFormWr .loginButton {
    padding-left: 75px;
    margin: 10px;
}

.loginFormWr .loginInput {

}