.loginFormWr {
    height: 120px;
    padding-left: 15px;
    padding-bottom: 115px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.loginFormWr .userName {
    grid-row: 1/2;
}

.loginFormWr .userNameErrorsSpan {
    grid-row: 2/3;
    color: red;
}
.loginFormWr .password {
    grid-row: 3/4;
}
.loginFormWr .passwordErrorsSpan {
    grid-row: 4/5;
    color: red;
}
.loginFormWr .repeatPassword {
    grid-row: 5/6;
}
.loginFormWr .repeatPasswordErrorsSpan {
    grid-row: 6/7;
    color: red;
}
.loginFormWr .registrationMessageErrorsSpan {
    grid-row: 6/7;
    max-width: 215px;
    border: solid 1px red;
    padding: 1px;
}

.loginFormWr .isIdenticalErrorsSpan{
    grid-row: 6/7;
    max-width: 215px;
    border: solid 1px red;
    padding: 1px;
}
.loginFormWr .loginButton {
    padding-left: 65px;
    grid-row: 7/8;
}


