.headerWr {
    position: fixed;
    background-color: #545454;
    color: white;
    width: 100%;
}

.headerText {

    padding: 1em;
    margin-left: 8em;
    display: inline-block
}

.headerLoginText a {
    text-decoration: none;
    color: white;
}

.headerLoginText {
    padding: 1em;
    margin-left: 65em;
    display: inline-block;
    text-decoration: #191919;

}
.logoutBtn{
    padding: 5px;
    margin-left:15px;
}