.taskListWr {
    background-color: #c8c8c8;
    min-height: 500px;
    display: grid;
    grid-template-rows: 100px  auto;
}
.taskListWr .addTasksBtn{
    position: fixed;
    width: 500px;
    margin-top: 70px;
    margin-left: 500px;
}

