


.taskBlock{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.taskBlock img{
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100%;
}
.taskBlock p{
    grid-column: 2/4;
    grid-row: 2/4;
    font-family: Consolas;
    font-size: large;
}
.taskBlock Button{
    width: 90px;
    height: 40px;
}
.taskBlock .saveTasksBtn{
    grid-column: 2/3;
    grid-row: 4/5;
}
.taskBlock .deleteTasksBtn{
    grid-column: 3/4;
    grid-row: 4/5;
}