.taskBlocks{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.taskBlock{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.taskBlock img{
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100%;
}
.taskBlock .textareaForTasks{
    grid-column: 2/4;
    grid-row: 2/4;
    font-family: Consolas;
    font-size: large;
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border-style: none;
}

.taskBlocks .taskBlock .tasksBtn{
    grid-column: 2/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.taskBlocks .taskBlock Button{
    width: 90px;
    height: 40px;
}
.taskBlocks .taskBlock .tasksBtn .saveTasksBtn{
    grid-column: 1/2;
    grid-row: 1/2;
}
.taskBlocks .taskBlock .tasksBtn .deleteTasksBtn{
    grid-column: 2/3;
    grid-row: 1/2;
}
