.taskListWr {
    background-color: #c8c8c8;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr auto;
}
.taskListWr button{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 3px;
    margin: 5px;
}

.taskListWr .taskZone{
    grid-column: 1/4;
    grid-row: 2/auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}