.loginFormWr {
    height: 100px;
    padding-bottom: 145px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 215px
}

.loginFormWr .userName {
    grid-row: 1/2;
}

.loginFormWr .userNameErrorsSpan {
    grid-row: 2/3;
    color: red;
}

.loginFormWr .password {
    grid-row: 3/4;
}

.loginFormWr .passwordErrorsSpan {
    grid-row: 4/5;
    color: red;
}

.loginFormWr .loginButton {
    padding-left: 65px;
    grid-row: 5/6;
}

.loginFormWr .ErrorsMessagesSpan {
    grid-row: 5/6;
    max-width: 215px;
}

